.container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.title {
    -webkit-text-stroke: 3px white;
    /* color: yellow;  */
    color: transparent;
    font-family: 'Pokemon Solid', sans-serif;
    font-size: 50px;
    /* font-weight: bold;      */
    letter-spacing: 2px;
    margin: 0 auto;
    /* text-shadow: -5px 2px 4px rgba(218, 185, 0, 0.315); */
}

.input {
    background-color: #1768d2cb;
    border: 1px solid rgb(189, 131, 233);
    padding: 30px;
    border-radius: 20px;
    position: absolute;
    margin-top: 90px;
}

.inputsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px 10px;
}

.nameInput {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nameInput label {
    color: white;
    font-weight: bold;
    width: 50px;
}

.nameInput input {
    border: none;
    border-bottom: 2px solid rgb(189, 131, 233);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-weight: bold;
    margin: 10px;
    padding: 3px;
    background-color: transparent;
    width: 200px;
    margin: 10px 10px;
}

.nameInput input:focus {
    outline: none;
}

.selector {
    border: none;
    border-bottom: 2px solid rgb(189, 131, 233);
    color: white;
    /* border-radius: 10px; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    margin: 10px;
    padding: 3px;
    background-color: transparent;
    width: 150px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.selector:focus {
    color: black;
}

.labels {
    display: flex;
    align-items: center;
}


.labels label {
    color: white;
    font-weight: bold;
    width: 70px;
}

.labels input {
    border: none;
    border-bottom: 2px solid rgb(189, 131, 233);
    /* border-radius: 10px; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-weight: bold;
    margin: 10px;
    padding: 3px;
    background-color: transparent;
    text-align: center;
    ;
    width: 50px;
}

.labels input:focus {
    outline: none;
}

.image {
    display: none;
}

.labelImage {
    border-bottom: 2px solid rgb(189, 131, 233);
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    margin: 10px;
    padding: 3px;
    width: 50px;
}

.labelImage:hover {
    color: white;
}

.btn {
    cursor: pointer;
    width: 100px;
    padding: 10px;
    border: 2px solid rgb(189, 131, 233);
    border-radius: 15px;
    background-color: transparent;
    color: white;
    font-weight: bold;
    position: relative;
}

.btn:hover {
    border: 2px solid rgb(189, 131, 233);
    background-color: rgb(189, 131, 233);
    color: white;
    top: 0;
    left: 0;
    transition: all 0.7s ease-in-out;
}



.required {
    font-weight: normal;
    color: white;
}

.errorContainer label {
    width: 200px;
    border: 1px solid rgba(214, 0, 0, 0.712);
    border-radius: 10px;
    padding: 3px;
    color: rgba(214, 0, 0, 0.712);
}

.ashimg {
    position: absolute;
    left: 0;
    bottom: 0;
}