.contenido {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    border-radius: 10px;
    flex-wrap: wrap;
    gap: 5rem;
}

.filtros{
    top: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

/* @media only screen and (max-width: 800px) {
    .contenido {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(100%));
            border-radius: 10px;
            flex-wrap: wrap;
            gap: 5rem;
        }
    } */