.container {
    width: 25%;
    height: 420px;
    display: inline-block;
    justify-content: center;
    align-content: center;
    margin: 15px;

}

.card {
    width: 330px;
    height: 420px;
    border-radius: 6px;
    background-color: #1768d2cb;
    border: 2px solid rgb(189, 131, 233);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
}

img {
    width: 321px;
    height: 231px;
}

.titulo {
    top: 3px;
    height: 30px;
    width: auto;
    color: white;
    margin-bottom: 35px;
}