.cont{
    display: flex;
    justify-content: center;
    gap: .1rem;
}
input{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 2px solid #A149FA;
    border-radius: 8%;
    width: 250px;
    height: 35px;
    size: 18px ;
    background: transparent;
    color: black;
    background: white;
    padding: 2px;
    margin: 2px;
}

.cont button {
    border: 2px solid #A149FA;
    border-radius: 20%;
    width: 60px;
    height: 35px;
    background: white;
    color: black;
    cursor: pointer;
}

.cont button:hover{
    background: #3B44F6;
    color: #F7EC09;
}

.cont input::content {
    background: #3B44F6;
}