.paginas {
    text-align: center;
    padding: 20px;
}

.paginas ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 1px;
    flex-wrap: wrap;
    list-style: none;
    gap : 0.5rem;
}

.paginas ul li button {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    transition: all 0.3s;
}
.paginas ul div button{
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    transition: all 0.3s;
}

.paginas ul li button:hover {
    color: white;
    background: black;
}